<% if current_user %>
<footer class="footer navbar-fixed-bottom" role="contentinfo">
  <div class="container">
      <p>viveksruby.com © 2015 <a href="http://www.viveksruby.com" target="_blank">Viveks Ruby</a> | <%= link_to "About Us", pages_about_path %> | <%= link_to "Contact Us", pages_contact_path %> </p>
  	 	<div class="footer-icons "> 
   	 	 	<a href="#"><i class="fa fa-facebook"></i></a> 
   	 	 	<a href="#"><i class="fa fa-twitter"></i></a> 
  	 	</div> 
  </div>
</footer>

<% else %>

<footer class="footer navbar-fixed-bottom" role="contentinfo">
  <div class="container">
      <p>viveksruby.com © 2015 <a href="http://www.viveksruby.com" target="_blank">Viveks Ruby</a> | <%= link_to "About Us", pages_about_path %> | <%= link_to "Contact Us", pages_contact_path %> </p>
  	 	<div class="footer-icons "> 
   	 	 	<a href="#"><i class="fa fa-facebook"></i></a> 
   	 	 	<a href="#"><i class="fa fa-twitter"></i></a> 
   	 	 	<a href="#"><i class="fa fa-linkedin"></i></a> 
   	 	 	<a href="#"><i class="fa fa-github"></i></a> 
  	 	</div> 
  </div>
</footer>

<% end %>