<footer class="footer" role="contentinfo">
  <div class="container">
      <p>Bootsnipp.com © 2015 <a href="http://www.danstools.com" target="_blank">Dan's Tools</a> | <a href="http://bootsnipp.com/privacy" target="_blank">Site Privacy policy</a> | Featured snippets are <a href="http://bootsnipp.com/license">MIT license.</a> </p>
  	 	<div class="footer-icons"> 
   	 	 	<a href="#"><i class="fa fa-facebook"></i></a> 
   	 	 	<a href="#"><i class="fa fa-twitter"></i></a> 
   	 	 	<a href="#"><i class="fa fa-linkedin"></i></a> 
   	 	 	<a href="#"><i class="fa fa-github"></i></a> 
  	 	</div> 
  </div>
</footer>